html {
	background-color: #ffc000;
}

h1 {
	font-weight: bold;
	font-size: 7rem;
	font-style: italic;
	font-family: "Denk One", sans-serif;
	line-height: 1.5;
	color: #0a1758;
}

h2, h3 {
	font-weight: bold;
	font-size: 3rem;
	font-family: "Denk One", sans-serif;
	line-height: 1;
	color: #001f6e;
}

p {
	font-size: 1rem;
	font-family: "Arial", sans-serif;
	line-height: 1.5;
}

strong {
	color: red;
}

ol {
	list-style-type: none;
	font-weight: normal;
	font-size: 2rem;
	font-family: "Denk One", sans-serif;
	line-height: 1.5;
	padding: 0;
}

li {
	list-style-type: decimal;
}

dl {
	list-style-type: none;
	font-size: 2 rem;
	font-family: "Arial", sans-serif;
	line-height: 1.5;
}

dt {
	font-weight: bold;
}

a {
	color: #de4900;
	text-decoration: none;
}

a:hover{
	color: white;
}

.mars, .venus {
	color: #de4900;
	font-size: 1rem;
	font-family: "Arial", sans-serif;
}

mark {
	background-color: #ffc000;
  color: black;
}


